<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    editable="perm.System.editclaimpaymentpreapprovals"
    id="ClaimSpecificPaymentPreapprovalsLV"
    visible="perm.Claim.view(Claim) and perm.System.viewfinsum and perm.Claim.viewtransactiondetails(Claim) and perm.System.viewclaimpaymentpreapprovals and gw.api.feature.ClaimSpecificPaymentPreapprovalsFeatureInfo.isEnabled()">
      <Require
        name="Claim"
        type="Claim"/>
      <ExposeIterator
        valueType="ClaimSpecificPaymentPreapproval"
        widget="ClaimSpecificPaymentPreapprovalsLV"/>
      <Variable
        initialValue="gw.api.feature.ClaimSpecificPaymentPreapprovalsFeatureInfo.getEligibleUsers(Claim)"
        name="EligibleUsers"
        type="List&lt;User&gt;"/>
      <Variable
        initialValue="Claim.getCoverageTypes()"
        name="CoverageTypes"
        type="List&lt;CoverageType&gt;"/>
      <RowIterator
        editable="true"
        elementName="preapproval"
        hideCheckBoxesIfReadOnly="true"
        toAdd="Claim.addToPaymentPreapprovals(preapproval)"
        toRemove="Claim.removeFromPaymentPreapprovals(preapproval)"
        value="Claim.PaymentPreapprovals"
        valueType="ClaimSpecificPaymentPreapproval[]">
        <Row
          editable="preapproval.User != User.util.getCurrentUser()">
          <RangeCell
            editable="true"
            enableSort="false"
            id="userName"
            label="DisplayKey.get(&quot;LV.Financials.ClaimSpecificPaymentPreapprovals.User&quot;)"
            required="true"
            validationExpression="preapproval.ValidationMessage"
            value="preapproval.User"
            valueRange="EligibleUsers"
            valueType="entity.User"/>
          <RangeCell
            editable="preapproval.CoverageType == null &amp;&amp; preapproval.CostType == null"
            enableSort="false"
            id="reserveLine"
            label="DisplayKey.get(&quot;LV.Financials.ClaimSpecificPaymentPreapprovals.ReserveLine&quot;)"
            value="preapproval.ReserveLine"
            valueRange="Claim.ReserveLines"
            valueType="entity.ReserveLine"
            width="20em">
            <Reflect
              available="VALUE1==null and VALUE2==null"
              triggerIds="coverageType,costType"/>
          </RangeCell>
          <RangeCell
            editable="true"
            enableSort="false"
            id="coverageType"
            label="DisplayKey.get(&quot;LV.Financials.ClaimSpecificPaymentPreapprovals.CoverageType&quot;)"
            value="preapproval.CoverageType"
            valueRange="CoverageTypes"
            valueType="typekey.CoverageType">
            <Reflect
              available="VALUE==null"
              triggerIds="reserveLine"/>
          </RangeCell>
          <TypeKeyCell
            editable="true"
            enableSort="false"
            id="costType"
            label="DisplayKey.get(&quot;LV.Financials.ClaimSpecificPaymentPreapprovals.CostType&quot;)"
            value="preapproval.CostType"
            valueType="typekey.CostType">
            <Reflect
              available="VALUE==null"
              triggerIds="reserveLine"/>
          </TypeKeyCell>
          <CurrencyCell
            align="left"
            editable="true"
            enableSort="false"
            id="amount"
            label="DisplayKey.get(&quot;LV.Financials.ClaimSpecificPaymentPreapprovals.Amount&quot;)"
            required="true"
            validationExpression="preapproval.ValidationMessage"
            value="preapproval.ApprovedAmount"/>
          <TextCell
            editable="true"
            enableSort="false"
            id="rationale"
            label="DisplayKey.get(&quot;LV.Financials.ClaimSpecificPaymentPreapprovals.Rationale&quot;)"
            value="preapproval.Rationale"/>
          <DateCell
            editable="true"
            enableSort="false"
            id="expirationDate"
            label="DisplayKey.get(&quot;LV.Financials.ClaimSpecificPaymentPreapprovals.ExpirationDate&quot;)"
            value="preapproval.ExpirationDate"/>
          <TextCell
            enableSort="false"
            id="approvedBy"
            label="DisplayKey.get(&quot;LV.Financials.ClaimSpecificPaymentPreapprovals.ApprovedBy&quot;)"
            value="preapproval.UpdateUser"
            valueType="entity.User"/>
          <DateCell
            enableSort="false"
            id="approvedDate"
            label="DisplayKey.get(&quot;LV.Financials.ClaimSpecificPaymentPreapprovals.ApprovedDate&quot;)"
            value="preapproval.UpdateTime"/>
        </Row>
      </RowIterator>
    </ListViewPanel>
  </PCF>