<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="AutopilotActivityDV"
    mode="default">
    <Require
      name="Activity"
      type="Activity"/>
    <InputColumn>
      <InputSetRef
        def="ActivityDetailsInputSet(Activity)"/>
      <InputDivider/>
      <InputSetRef
        def="ActivityOwnerInputSet(Activity)"/>
    </InputColumn>
    <InputColumn>
      <InputSetRef
        def="ActivityNoteInputSet(Activity)"/>
      <InputSetRef
        def="ActivityTrackingInputSet(Activity)"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>