<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="EFTDataInputSet"
    mode="default">
    <Require
      name="Check"
      type="entity.Check"/>
    <RangeInput
      editable="true"
      id="EFTRecords"
      label="DisplayKey.get(&quot;Web.Financials.Check.BankData.SelectEFT&quot;)"
      value="Check.EFTData"
      valueRange="Check.FirstPayee.Payee.EFTRecords"
      valueType="entity.EFTData"
      visible="CurrentLocation.InEditMode"/>
    <TextAreaInput
      editable="true"
      id="PayTo"
      label="DisplayKey.get(&quot;Web.Financials.Check.BankData.BankAcctHolderName&quot;)"
      numRows="1"
      required="true"
      value="Check.PayTo">
      <Reflect
        triggerIds="EFTRecords"
        value="VALUE.AccountName"/>
    </TextAreaInput>
    <TextInput
      editable="true"
      id="BankName"
      label="DisplayKey.get(&quot;Web.Financials.Check.BankData.BankName&quot;)"
      value="Check.BankName">
      <Reflect
        triggerIds="EFTRecords"
        value="VALUE.BankName"/>
    </TextInput>
    <RangeRadioInput
      editable="true"
      id="BankAccountType"
      label="DisplayKey.get(&quot;Web.Financials.Check.BankData.BankAccountType&quot;)"
      required="true"
      value="Check.BankAccountType"
      valueRange="BankAccountType.getTypeKeys( false )"
      valueType="typekey.BankAccountType">
      <Reflect
        triggerIds="EFTRecords"
        value="VALUE.BankAccountType"/>
    </RangeRadioInput>
    <PrivacyInput
      editable="true"
      encryptionExpression="Check.maskBankAccountNumber(VALUE)"
      id="BankAccountNumber"
      label="DisplayKey.get(&quot;Web.Financials.Check.BankData.BankAccountNumber&quot;)"
      required="true"
      value="Check.BankAccountNumber">
      <Reflect
        triggerIds="EFTRecords"
        value="VALUE.BankAccountNumber"/>
    </PrivacyInput>
    <TextInput
      editable="true"
      id="BankRoutingNumber"
      label="DisplayKey.get(&quot;Web.Financials.Check.BankData.BankRoutingNumber&quot;)"
      required="true"
      value="Check.BankRoutingNumber">
      <Reflect
        triggerIds="EFTRecords"
        value="VALUE.BankRoutingNumber"/>
    </TextInput>
  </InputSet>
</PCF>
