<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="LitigationDetailsInputSet"
    mode="TrialVenue"
    visible="Matter.MatterType == TC_LAWSUIT || Matter.MatterType == TC_GENERAL">
    <Require
      name="Matter"
      type="Matter"/>
    <Label
      label="DisplayKey.get(&quot;MatterGeneral.Matter.Litigation&quot;)"/>
    <ClaimContactInput
      claim="Matter.Claim"
      editable="Matter.isNew()"
      id="TrialDetails_Venue"
      label="DisplayKey.get(&quot;NVV.Matter.SubView.MatterGeneral.TrialDetails.Venue&quot;)"
      required="false"
      value="Matter.venue"
      valueRange="Matter.Claim.RelatedLegalVenueArray"
      valueType="entity.LegalVenue"
      visible="true"/>
    <TypeKeyInput
      editable="true"
      id="LegalSpecialty"
      label="DisplayKey.get(&quot;MatterGeneral.Matter.LegalSpecialty&quot;)"
      required="false"
      value="Matter.LegalSpecialty"
      valueType="typekey.LegalSpecialty"/>
    <TypeKeyInput
      editable="true"
      id="TrialDetails_PrimaryCause"
      label="DisplayKey.get(&quot;NVV.Matter.SubView.MatterGeneral.TrialDetails.PrimaryCause&quot;)"
      required="false"
      value="Matter.PrimaryCause"
      valueType="typekey.PrimaryCauseType"/>
    <InputDivider/>
  </InputSet>
</PCF>