<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="gw.api.system.PLConfigParameters.FreeTextSearchEnabled.Value&amp;&amp;gw.api.system.PLConfigParameters.EnableInternalDebugTools.Value"
    id="SolrSearchDebug"
    parent="UnsupportedTools()"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.SolrSearchDebug.Title&quot;)">
    <Variable
      name="document"
      type="String"/>
    <Variable
      name="documentText"
      type="String"/>
    <Variable
      initialValue="&quot;*:*&quot;"
      name="query"
      type="String"/>
    <Variable
      initialValue="0"
      name="start"
      type="int"/>
    <Variable
      initialValue="100"
      name="rows"
      type="int"/>
    <Variable
      name="queryResultText"
      type="String"/>
    <Variable
      name="debugQueryValue"
      type="Boolean"/>
    <Variable
      name="filterQuery"
      type="String"/>
    <Screen
      id="Screen">
      <Toolbar/>
      <DetailViewPanel>
        <InputColumn>
          <RangeInput
            editable="true"
            id="SolrDocument"
            label="DisplayKey.get(&quot;Web.SolrSearchDebug.SolrDocument&quot;)"
            optionLabel="VALUE.toString()"
            required="true"
            value="document"
            valueRange="gw.solr.SolrSearchPageHelper.getDocuments()"
            valueType="java.lang.String">
            <PostOnChange
              onChange="queryResultText = null"/>
          </RangeInput>
          <TextInput
            editable="true"
            id="Query"
            label="DisplayKey.get(&quot;Web.SolrSearchDebug.Query&quot;)"
            required="true"
            value="query"
            valueSectionWidth="1000"/>
          <TextInput
            editable="true"
            helpText="DisplayKey.get(&quot;Web.SolrSearchDebug.FilterQueryHelpText&quot;)"
            id="FilterQuery"
            label="DisplayKey.get(&quot;Web.SolrSearchDebug.FilterQuery&quot;)"
            value="filterQuery"/>
          <TextInput
            editable="true"
            formatType="integerNumber"
            id="Start"
            label="DisplayKey.get(&quot;Web.SolrSearchDebug.Start&quot;)"
            required="true"
            value="start"
            valueSectionWidth="100"
            valueType="java.lang.Integer"/>
          <TextInput
            editable="true"
            formatType="integerNumber"
            id="Rows"
            label="DisplayKey.get(&quot;Web.SolrSearchDebug.Rows&quot;)"
            required="true"
            value="rows"
            valueSectionWidth="100"
            valueType="java.lang.Integer"/>
          <CheckBoxInput
            editable="true"
            id="DebugQuery"
            label="DisplayKey.get(&quot;Web.SolrSearchDebug.DebugQuery&quot;)"
            value="debugQueryValue"/>
          <ButtonInput
            action="queryResultText = gw.solr.SolrSearchPageHelper.executeQuery(document, query, start, rows, debugQueryValue, filterQuery)"
            align="center"
            available="document != null"
            id="ViewQueryResults"
            value="DisplayKey.get(&quot;Web.SolrSearchDebug.ExecuteQuery&quot;)"/>
        </InputColumn>
      </DetailViewPanel>
      <DetailViewPanel>
        <InputColumn>
          <PreFormattedTextInput
            id="QueryResultDisplay"
            value="queryResultText"
            valueSectionWidth="100%"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>