<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="PolicySummaryAPDRiskUnitLV">
    <Require
      name="apdRiskUnits"
      type="List&lt;entity.PolicySummaryAPDRiskUnit&gt;"/>
    <Require
      name="showCheckboxes"
      type="boolean"/>
    <Require
      name="checkboxesAvailable"
      type="boolean"/>
    <Variable
      initialValue="new gw.apd.web.PolicySummaryHelper()"
      name="policySummaryHelper"
      type="gw.apd.web.PolicySummaryHelper"/>
    <Variable
      initialValue="policySummaryHelper.getFieldNames(apdRiskUnits?[0])"
      name="fieldNames"
      type="String[]"/>
    <Row
      renderAsSmartHeader="true">
      <EmptyCell
        id="EmptyCell1"/>
      <CellIterator
        elementName="fieldName"
        id="fieldNameId"
        value="fieldNames"
        valueType="String[]">
        <TextCell
          id="FieldName"
          sortOrder="1"
          value="fieldName"
          valueType="java.lang.String"/>
      </CellIterator>
    </Row>
    <RowIterator
      canPick="false"
      editable="true"
      elementName="apdRiskUnit"
      value="apdRiskUnits.toTypedArray()"
      valueType="entity.PolicySummaryAPDRiskUnit[]">
      <ToolbarFlag
        name="apdRiskUnit"/>
      <Row>
        <EmptyCell
          id="EmptyCell2"
          visible="not showCheckboxes"/>
        <CheckBoxCell
          available="checkboxesAvailable"
          editable="showCheckboxes"
          id="APDRiskUnitSelected"
          value="apdRiskUnit.Selected"
          visible="showCheckboxes"/>
        <CellIterator
          elementName="fieldValue"
          id="fieldValueId"
          value="policySummaryHelper.getFieldValues(apdRiskUnit)"
          valueType="String[]">
          <TextCell
            id="Field1"
            outputConversion="VALUE.NotBlank ? VALUE : DisplayKey.get(&quot;LV.Policy.PolicySummary.APDRiskUnit.EmptyFieldPlaceholder&quot;)"
            value="fieldValue"
            valueType="java.lang.String"/>
        </CellIterator>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>