<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    id="S3Bucket"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.File.Store.s3bucket&quot;)">
    <LocationEntryPoint
      signature="S3Bucket()"/>
    <Screen>
      <Variable
        name="folderName"
        type="String"/>
      <Variable
        name="results"
        type="List&lt;software.amazon.awssdk.services.s3.model.S3Object&gt;"/>
      <TitleBar
        title="DisplayKey.get(&quot;Web.File.Store.s3bucket&quot;)"/>
      <DetailViewPanel>
        <InputColumn>
          <TextInput
            boldValue="true"
            id="BucketName"
            label="DisplayKey.get(&quot;Web.File.Store.Bucketname&quot;)"
            maxChars="50"
            required="false"
            value="System.getenv(&quot;PLUGIN_S3_BUCKET_NAME&quot;)?.toString()"
            visible="true"/>
          <TextInput
            editable="true"
            id="folderName"
            label="DisplayKey.get(&quot;Web.File.Store.Foldername&quot;)"
            maxChars="300"
            required="true"
            value="folderName"
            visible="true"/>
          <ButtonInput
            action="results = s3.AmazonS3Util.Instance.readFilesFromS3Bucket(folderName)"
            id="searchButton"
            value="DisplayKey.get(&quot;Web.File.Store.Search&quot;)"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef>
        <Toolbar
          id="s3toolbarsel"
          visible="true">
          <ToolbarButton
            action="S3FileCreationPopup.push(folderName)"
            available="true"
            id="Create"
            label="DisplayKey.get(&quot;Config.S3Browser.pcf.S3Bucket.NewFolder.Label&quot;)"/>
          <ToolbarButton
            action="S3FileUploadPopup.push(folderName)"
            id="Upload"
            label="&quot;Upload&quot;"
            visible="true"/>
          <ToolbarButton
            action="S3FileCopyingPopup.push(folderName)"
            id="Copy"
            label="&quot;Copy&quot;"
            visible="true"/>
        </Toolbar>
        <ListViewPanel>
          <RowIterator
            editable="false"
            elementName="s3Object"
            value="results"
            valueType="java.util.List&lt;software.amazon.awssdk.services.s3.model.S3Object&gt;">
            <Row>
              <LinkCell
                id="Select"
                visible="true">
                <Link
                  action="folderName=s3.S3Helper.getTargetKeyName(s3Object, folderName); results = s3.AmazonS3Util.Instance.readFilesFromS3Bucket(folderName)"
                  confirmMessage="DisplayKey.get(&quot;Config.S3Browser.pcf.S3Bucket.Select.ConfirmMessage&quot;, folderName)"
                  id="selectButton"
                  label="DisplayKey.get(&quot;Config.S3Browser.pcf.S3Bucket.Select.Label&quot;)"
                  styleClass="miniButton"
                  visible="results.HasElements"/>
              </LinkCell>
              <LinkCell
                id="Download"
                visible="true">
                <Link
                  action="s3.AmazonS3Util.Instance.downloadSelectedFile(folderName)"
                  confirmMessage="DisplayKey.get(&quot;Config.S3Browser.pcf.S3Bucket.Download.ConfirmMessage&quot;,folderName)"
                  download="true"
                  id="downloadButton"
                  label="DisplayKey.get(&quot;Config.S3Browser.pcf.S3Bucket.Download.Label&quot;)"
                  styleClass="miniButton"
                  visible="s3Object.size() >0 and not s3Object.key()?.endsWith(&quot;/&quot;)"/>
              </LinkCell>
              <TextCell
                id="keyColumn"
                label="&quot;Key&quot;"
                value="s3Object.key()"/>
              <TextCell
                id="sizeColumn"
                label="&quot;size&quot;"
                value="s3Object.size()?.toString()"/>
              <TextCell
                id="lastmodifiedColumn"
                label="&quot;Last Modified&quot;"
                value="s3Object.lastModified()?.toString()"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Screen>
  </Page>
</PCF>