<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="true"
    countsAsWork="false"
    desc="Not for production use!  See the PolicyCenter Sample Data functional spec for further information."
    id="SampleData"
    parent="UnsupportedTools()"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.InternalTools.SampleData&quot;)">
    <LocationEntryPoint
      signature="SampleData()"/>
    <Variable
      initialValue="gw.sampledata.SampleDataUIHelperFactory.Instance.SampleDataUIHelper"
      name="sampleDataUIHelper"
      type="gw.sampledata.SampleDataUIHelper"/>
    <Variable
      initialValue="&quot;&quot;"
      name="result"
      type="String"/>
    <Variable
      initialValue="sampleDataUIHelper.getGroups()?.first()"
      name="group"
      type="String"/>
    <Variable
      initialValue="null"
      name="subGroup"
      type="String"/>
    <Screen
      id="SampleDataScreen">
      <Toolbar/>
      <Verbatim
        label="result"/>
      <PanelRef
        def="UnsupportedToolsDisclaimerDV()"/>
      <DetailViewPanel>
        <InputColumn>
          <RangeInput
            editable="true"
            id="sampleDataSetGroupRangeInput"
            label="DisplayKey.get(&quot;Web.InternalTools.SampleData.Group&quot;)"
            value="group"
            valueRange="sampleDataUIHelper.getGroups()"
            valueType="java.lang.String"
            visible="sampleDataUIHelper.isGroupRangeInputVisible()">
            <PostOnChange
              onChange="subGroup = sampleDataUIHelper.getSubGroups(group)?.first()"/>
          </RangeInput>
          <RangeInput
            editable="true"
            id="sampleDataSetSubGroupRangeInput"
            label="DisplayKey.get(&quot;Web.InternalTools.SampleData.SubGroup&quot;)"
            value="subGroup"
            valueRange="sampleDataUIHelper.getSubGroups(group)"
            valueType="java.lang.String"
            visible="sampleDataUIHelper.isSubGroupRangeInputVisible(group)">
            <PostOnChange/>
          </RangeInput>
        </InputColumn>
      </DetailViewPanel>
      <ListViewPanel
        id="SampleDataSetsLV">
        <RowIterator
          editable="false"
          elementName="dataSet"
          value="sampleDataUIHelper.getDataSets(group, subGroup)"
          valueType="java.util.List &lt;java.lang.String&gt;">
          <IteratorSort
            sortBy="dataSet"
            sortOrder="1"/>
          <Row>
            <TextCell
              enableSort="false"
              id="Name"
              label="DisplayKey.get(&quot;Web.SampleData.Name&quot;)"
              value="sampleDataUIHelper.getLabel(dataSet)"/>
            <TextCell
              enableSort="false"
              id="Description"
              label="DisplayKey.get(&quot;Web.SampleData.Description&quot;)"
              value="sampleDataUIHelper.getDescription(dataSet)"/>
            <TextCell
              enableSort="false"
              id="group"
              label="DisplayKey.get(&quot;Web.InternalTools.SampleData.Group&quot;)"
              value="sampleDataUIHelper.getDataSetGroup(dataSet)"/>
            <TextCell
              id="priority"
              label="DisplayKey.get(&quot;Web.InternalTools.SampleData.Priority&quot;)"
              sortOrder="1"
              value="sampleDataUIHelper.getPriority(dataSet)"
              valueType="int"
              visible="false"/>
            <LinkCell
              id="Load">
              <Link
                action="result = sampleDataUIHelper.loadSampleDataSet(dataSet)"
                available="not sampleDataUIHelper.isDataSetLoaded(dataSet)"
                id="LoadSampleData"
                label="DisplayKey.get(&quot;Web.InternalTools.SampleData.Load&quot;)"
                styleClass="miniButton"/>
            </LinkCell>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Page>
</PCF>