<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="CatastropheDetailScreen">
    <Require
      name="catastrophe"
      type="Catastrophe"/>
    <Require
      name="showRelatedClaimsFinder"
      type="boolean"/>
    <Toolbar
      visible="perm.Catastrophe.edit">
      <EditButtons
        editVisible="perm.Catastrophe.edit"/>
    </Toolbar>
    <CardViewPanel>
      <Variable
        initialValue="catastrophe.CatClaimTemplateSettings_SP != null and catastrophe.CatClaimTemplateSettings_SP.Active"
        name="catTemplateEnabled_SP"
        type="boolean"/>
      <Card
        id="Details"
        title="DisplayKey.get(&quot;JSP.ClaimSearch.Search.ClaimSearch.Catastrophe.Details&quot;)">
        <PanelRef
          def="AdminCatastropheDV(catastrophe)">
          <Toolbar
            visible="perm.Catastrophe.edit">
            <ToolbarButton
              action="findRelatedClaims()"
              available="catastrophe.Active"
              id="FindUnmatchedClaimsButton"
              label="DisplayKey.get(&quot;Web.Admin.AdminCatastrophe.FindUnmatchedClaims&quot;)"
              visible="(showRelatedClaimsFinder and !CurrentLocation.InEditMode)"/>
            <ToolbarDivider/>
            <ToolbarButton
              action="CatastropheSearch.go(catastrophe)"
              available="catastrophe.hasAssociatedClaims()"
              id="ShowCatMapButton"
              label="DisplayKey.get(&quot;Web.Admin.AdminCatastrophe.ShowCatMap&quot;)"
              visible="gw.api.heatmap.HeatMapGenerator.HeatMapConfigured"/>
          </Toolbar>
        </PanelRef>
      </Card>
      <Card
        id="Policy"
        title="DisplayKey.get(&quot;JSP.ClaimSearch.Search.ClaimSearch.Catastrophe.PolicyLocationsLV&quot;)"
        visible="gw.api.heatmap.HeatMapGenerator.HeatMapConfigured and gw.api.heatmap.CatastropheHeatMap.isPolicyLocationDownloadConfigured()">
        <PanelRef
          def="AdminCatastrophePolicyPanelSet(catastrophe)"/>
      </Card>
      <Card
        id="QuickSetupCard_SP"
        title="DisplayKey.get(&quot;SP.Catastrophe.ClaimSearch.Search.ClaimSearch.Catastrophe.CatClaimTemplate.Title&quot;)"
        visible="gw.surepath.cc.configuration.catastrophe.util.CatastropheProperties.INSTANCE.FeatureEnabled">
        <DetailViewPanel>
          <InputColumn>
            <BooleanRadioInput
              editable="true"
              falseLabel="DisplayKey.get(&quot;SP.Catastrophe.ClaimSearch.Search.ClaimSearch.Catastrophe.CatClaimTemplate.EnabledNo&quot;)"
              id="QuickSetupEnabled_SP"
              label="DisplayKey.get(&quot;SP.Catastrophe.ClaimSearch.Search.ClaimSearch.Catastrophe.CatClaimTemplate.Enabled&quot;)"
              trueLabel="DisplayKey.get(&quot;SP.Catastrophe.ClaimSearch.Search.ClaimSearch.Catastrophe.CatClaimTemplate.EnabledYes&quot;)"
              value="catTemplateEnabled_SP">
              <PostOnChange
                onChange="catastrophe.updateTemplateEnabledFlag(catTemplateEnabled_SP)"/>
            </BooleanRadioInput>
          </InputColumn>
        </DetailViewPanel>
        <DetailViewPanel
          visible="catastrophe.CatClaimTemplateSettings_SP.Active">
          <InputColumn>
            <TypeKeyInput
              editable="true"
              id="LossCause_SP"
              label="DisplayKey.get(&quot;SP.Catastrophe.ClaimSearch.Search.ClaimSearch.Catastrophe.CatClaimTemplate.LossCause&quot;)"
              required="true"
              value="catastrophe.CatClaimTemplateSettings_SP.LossCause"
              valueType="typekey.LossCause"
              visible="catastrophe.CatClaimTemplateSettings_SP.Active"/>
            <Label
              label="DisplayKey.get(&quot;SP.Catastrophe.ClaimSearch.Search.ClaimSearch.Catastrophe.CatClaimTemplate.AssDetails&quot;)"/>
            <TypeKeyInput
              editable="true"
              id="AssignmentMethod_SP"
              label="DisplayKey.get(&quot;SP.Catastrophe.ClaimSearch.Search.ClaimSearch.Catastrophe.CatClaimTemplate.AssMethod&quot;)"
              value="catastrophe.CatClaimTemplateSettings_SP.AssignMethod"
              valueType="typekey.ClaimTempAssignType_SP"/>
            <UserInput
              editable="true"
              id="AssignedUser_SP"
              label="DisplayKey.get(&quot;SP.Catastrophe.ClaimSearch.Search.ClaimSearch.Catastrophe.CatClaimTemplate.AssUser&quot;)"
              required="catastrophe.CatClaimTemplateSettings_SP.AssignMethod ==ClaimTempAssignType_SP.TC_INDIVIDUAL"
              value="catastrophe.CatClaimTemplateSettings_SP.AssignUser"
              visible="catastrophe.CatClaimTemplateSettings_SP.AssignMethod ==ClaimTempAssignType_SP.TC_INDIVIDUAL"/>
            <GroupInput
              editable="true"
              id="AssignedGroup_SP"
              label="DisplayKey.get(&quot;SP.Catastrophe.ClaimSearch.Search.ClaimSearch.Catastrophe.CatClaimTemplate.AssGroup&quot;)"
              required="catastrophe.CatClaimTemplateSettings_SP.AssignMethod ==ClaimTempAssignType_SP.TC_GROUP"
              value="catastrophe.CatClaimTemplateSettings_SP.AssignGroup"
              visible="catastrophe.CatClaimTemplateSettings_SP.AssignMethod ==ClaimTempAssignType_SP.TC_INDIVIDUAL or catastrophe.CatClaimTemplateSettings_SP.AssignMethod ==ClaimTempAssignType_SP.TC_GROUP"/>
            <RangeInput
              editable="true"
              id="AssignedQueue_SP"
              label="DisplayKey.get(&quot;SP.Catastrophe.ClaimSearch.Search.ClaimSearch.Catastrophe.CatClaimTemplate.AssQueue&quot;)"
              required="catastrophe.CatClaimTemplateSettings_SP.AssignMethod ==ClaimTempAssignType_SP.TC_QUEUE"
              value="catastrophe.CatClaimTemplateSettings_SP.AssignQueue"
              valueRange="gw.api.database.Query.make(entity.AssignableQueue).select()"
              valueType="entity.AssignableQueue"
              visible="catastrophe.CatClaimTemplateSettings_SP.AssignMethod ==ClaimTempAssignType_SP.TC_QUEUE"/>
          </InputColumn>
        </DetailViewPanel>
        <DetailViewPanel
          visible="catastrophe.CatClaimTemplateSettings_SP.Active">
          <InputColumn>
            <Label
              label="DisplayKey.get(&quot;SP.Catastrophe.ClaimSearch.Search.ClaimSearch.Catastrophe.CatClaimTemplate.WPRules&quot;)"/>
            <BooleanRadioInput
              editable="true"
              id="WorkplanRulesOverrideFlag_SP"
              label="DisplayKey.get(&quot;SP.Catastrophe.ClaimSearch.Search.ClaimSearch.Catastrophe.CatClaimTemplate.SupprWPRules&quot;)"
              value="catastrophe.CatClaimTemplateSettings_SP.WorkplanOverride"/>
          </InputColumn>
        </DetailViewPanel>
        <PanelRef
          visible="catastrophe.CatClaimTemplateSettings_SP.Active">
          <TitleBar
            title="DisplayKey.get(&quot;SP.Catastrophe.ClaimSearch.Search.ClaimSearch.Catastrophe.CatClaimTemplate.Activities&quot;)"/>
          <Toolbar>
            <IteratorButtons
              iterator="SP_ActivityLV"/>
          </Toolbar>
          <ListViewPanel
            id="SP_ActivityLV">
            <RowIterator
              editable="true"
              elementName="anActivity"
              hasCheckBoxes="true"
              hideCheckBoxesIfReadOnly="true"
              id="ActivityIterator_SP"
              toAdd="catastrophe.CatClaimTemplateSettings_SP.addToActivityRules(anActivity); "
              toRemove="catastrophe.CatClaimTemplateSettings_SP.removeFromActivityRules(anActivity)"
              value="catastrophe.CatClaimTemplateSettings_SP.ActivityRules"
              valueType="entity.ClaimTemplateActivity_SP[]">
              <Row>
                <RangeCell
                  editable="true"
                  id="ActivityPatternRange_SP"
                  label="DisplayKey.get(&quot;SP.Catastrophe.ClaimSearch.Search.ClaimSearch.Catastrophe.CatClaimTemplate.ActPattern&quot;)"
                  optionGroupLabel="VALUE.Category.DisplayName"
                  optionLabel="VALUE.Subject"
                  required="true"
                  value="anActivity.ActivityPattern"
                  valueType="entity.ActivityPattern"
                  valueRange="gw.api.database.Query.make(entity.ActivityPattern).select()"/>
                <TextCell
                  align="left"
                  editable="true"
                  id="ActivityTargetDays_SP"
                  label="DisplayKey.get(&quot;SP.Catastrophe.ClaimSearch.Search.ClaimSearch.Catastrophe.CatClaimTemplate.ActTargetDays&quot;)"
                  value="anActivity.TargetDays"
                  valueType="Integer"/>
                <TextCell
                  align="left"
                  editable="true"
                  id="ActivityEscalationDays_SP"
                  label="DisplayKey.get(&quot;SP.Catastrophe.ClaimSearch.Search.ClaimSearch.Catastrophe.CatClaimTemplate.ActEscDays&quot;)"
                  value="anActivity.EscalationDays"
                  valueType="Integer"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelRef>
        <PanelRef
          visible="catastrophe.CatClaimTemplateSettings_SP.Active">
          <TitleBar
            title="DisplayKey.get(&quot;SP.Catastrophe.ClaimSearch.Search.ClaimSearch.Catastrophe.CatClaimTemplate.ExpQuickSetup&quot;)"/>
          <Toolbar>
            <IteratorButtons
              iterator="SP_ExposuresLV"/>
          </Toolbar>
          <ListViewPanel
            id="SP_ExposuresLV">
            <RowIterator
              editable="true"
              elementName="anExposure"
              hasCheckBoxes="true"
              hideCheckBoxesIfReadOnly="true"
              id="ExposuresIterator_SP"
              toAdd="anExposure.PolicyType = PolicyType.TC_COMMERCIALPROPERTY; catastrophe.CatClaimTemplateSettings_SP.addToExposureRules(anExposure)"
              toRemove="catastrophe.CatClaimTemplateSettings_SP.removeFromExposureRules(anExposure)"
              value="catastrophe.CatClaimTemplateSettings_SP.ExposureRules"
              valueType="ClaimTemplateExposure_SP[]">
              <Row>
                <RangeCell
                  editable="true"
                  id="PolicyType2_SP"
                  label="DisplayKey.get(&quot;SP.Catastrophe.ClaimSearch.Search.ClaimSearch.Catastrophe.CatClaimTemplate.PolicyType&quot;)"
                  value="anExposure.PolicyType"
                  valueRange="new PolicyType[]{PolicyType.TC_COMMERCIALPROPERTY, PolicyType.TC_HOPHOMEOWNERS}"
                  valueType="PolicyType"/>
                <TypeKeyCell
                  editable="true"
                  id="CoverageType_SP"
                  label="DisplayKey.get(&quot;SP.Catastrophe.ClaimSearch.Search.ClaimSearch.Catastrophe.CatClaimTemplate.CovType&quot;)"
                  value="anExposure.CoverageType"
                  width="300"
                  valueType="CoverageType"/>
                <TypeKeyCell
                  editable="true"
                  id="CoverageSubtype_SP"
                  label="DisplayKey.get(&quot;SP.Catastrophe.ClaimSearch.Search.ClaimSearch.Catastrophe.CatClaimTemplate.CovSubType&quot;)"
                  value="anExposure.CoverageSubtype"
                  width="300"
                  valueType="CoverageSubtype"/>
                <TextCell
                  align="left"
                  editable="true"
                  id="ReservePercent_SP"
                  label="DisplayKey.get(&quot;SP.Catastrophe.ClaimSearch.Search.ClaimSearch.Catastrophe.CatClaimTemplate.Reserve&quot;)"
                  value="anExposure.ReservePercent"
                  width="150"
                  valueType="Integer"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelRef>
      </Card>
    </CardViewPanel>
    <Code><![CDATA[function findRelatedClaims() {
  gw.transaction.Transaction.runWithNewBundle(\ bundle -> {
    bundle.add(catastrophe).ScheduleBatch = true
  })
  gw.api.util.LocationUtil.addRequestScopedInfoMessage(DisplayKey.get("Web.Admin.AdminCatastrophe.MatchedClaimsAvailableNextDay"))
}]]></Code>
  </Screen>
</PCF>