<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="SP_DataAuditFieldRecordsDV">
    <Require
      name="auditRecord"
      type="DataAudit_SP"/>
    <InputColumn>
      <TextInput
        id="ModifiedBeanMasterEntity"
        label="DisplayKey.get(&quot;SP.AdminAudit.Admin.Audit.MasterEntityName&quot;)"
        value="auditRecord.AuditBeanParentEntityType"/>
      <TextInput
        id="ModifiedBeanEntityName"
        label="DisplayKey.get(&quot;SP.AdminAudit.Admin.Audit.EntityName&quot;)"
        value="auditRecord.AuditableBeanEntityType"/>
      <TextInput
        id="ModifiedBeanDisplayName"
        label="DisplayKey.get(&quot;SP.AdminAudit.Admin.Audit.ModifiedObject&quot;)"
        value="auditRecord.AuditableBeanDisplayName"/>
      <TextInput
        id="PerformingUserName"
        label="DisplayKey.get(&quot;SP.AdminAudit.Admin.Audit.ModifiedBy&quot;)"
        value="auditRecord.PerformingUser.Credential.UserName"/>
      <DateInput
        dateFormat="short"
        id="OccurrenceDate"
        label="DisplayKey.get(&quot;SP.AdminAudit.Admin.Audit.ModifiedDate&quot;)"
        timeFormat="short"
        value="auditRecord.OccurrenceDate"/>
      <ListViewInput
        boldLabel="true"
        label="DisplayKey.get(&quot;SP.AdminAudit.Admin.Audit.FieldRecords&quot;)"
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="AuditFieldRecordsLV"
          stretch="true">
          <RowIterator
            canPick="false"
            editable="false"
            elementName="fieldRecord"
            hideCheckBoxesIfReadOnly="true"
            value="auditRecord.FieldRecords"
            valueType="entity.DataAuditFieldRecord_SP[]">
            <Row>
              <TextCell
                grow="true"
                id="ChangedFieldName"
                label="DisplayKey.get(&quot;SP.AdminAudit.Admin.Audit.ModifiedField&quot;)"
                value="fieldRecord.AuditableBeanChangedField"
                wrap="false"/>
              <TextCell
                id="OriginalValue"
                label="DisplayKey.get(&quot;SP.AdminAudit.Admin.Audit.OriginalValue&quot;)"
                value="fieldRecord.OriginalValue"
                wrap="false"/>
              <TextCell
                id="NewValue"
                label="DisplayKey.get(&quot;SP.AdminAudit.Admin.Audit.NewValue&quot;)"
                value="fieldRecord.NewValue"
                wrap="false"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>