<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="true"
    id="SP_DataAuditSearchDV">
    <Require
      name="searchCriteria"
      type="gw.surepath.cc.configuration.adminaudit.util.DataAuditSearchCriteria"/>
    <InputColumn>
      <RangeInput
        editable="true"
        id="SearchEntityType"
        label="DisplayKey.get(&quot;SP.AdminAudit.Admin.Audit.SearchEntityType&quot;)"
        value="searchCriteria.EntityType"
        valueRange="gw.surepath.cc.configuration.adminaudit.util.DataAuditSearchUtil.retrieveAuditableEntityTypes()"
        valueType="String"/>
      <PickerInput
        editable="true"
        id="SearchPerformingUser"
        label="DisplayKey.get(&quot;SP.AdminAudit.Admin.Audit.SearchPerformingUser&quot;)"
        pickLocation="pcf.UserSearchPopup.push()"
        value="searchCriteria.PerformingUser"
        valueType="entity.User"/>
      <TypeKeyInput
        editable="true"
        id="SearchBeanStatusType"
        label="DisplayKey.get(&quot;SP.AdminAudit.Admin.Audit.SearchBeanStatus&quot;)"
        value="searchCriteria.AuditableEntityStatus"
        valueType="typekey.BeanStatus_SP"/>
      <Label
        label="DisplayKey.get(&quot;SP.AdminAudit.Admin.Audit.DateRangeLabel&quot;)"/>
      <DateInput
        editable="true"
        id="SearchStartDate"
        label="DisplayKey.get(&quot;SP.AdminAudit.Admin.Audit.SearchStartDate&quot;)"
        value="searchCriteria.OccurrenceStartDate"/>
      <DateInput
        editable="true"
        id="SearchEndDate"
        label="DisplayKey.get(&quot;SP.AdminAudit.Admin.Audit.SearchEndDate&quot;)"
        value="searchCriteria.OccurrenceEndDate"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>