<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    countsAsWork="false"
    id="PreUpdateHandlerInfo"
    parent="InfoPages()"
    title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.PrioritizedPreUpdateHandlerInfo.Title&quot;)">
    <Variable
      initialValue="gw.plugin.preupdate.prioritized.InfoRoot.Provider.PrioritizedPreUpdateHandlerInfo"
      name="handlerInfo"
      recalculateOnRefresh="true"
      type="gw.plugin.preupdate.prioritized.InfoPrioritizedPreUpdateHandler"/>
    <Variable
      initialValue="handlerInfo != null"
      name="active"
      recalculateOnRefresh="true"
      type="java.lang.Boolean"/>
    <Screen>
      <DetailViewPanel
        id="NonInitializedDV"
        visible="not active">
        <InputColumn>
          <Label
            id="NonInitializedLabel"
            label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.PrioritizedPreUpdateHandlerInfo.NotInitialized&quot;)"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        id="ParametersPanel"
        visible="active">
        <TitleBar
          title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.PrioritizedPreUpdateHandlerInfo.Parameters&quot;)"/>
        <ListViewPanel
          id="ParametersLV">
          <RowIterator
            editable="false"
            elementName="parameter"
            value="handlerInfo.Parameters.entrySet().toList()"
            valueType="java.util.List&lt;java.util.Map.Entry&lt;java.lang.String,java.lang.String&gt;&gt;">
            <Row>
              <TextCell
                id="ParameterKey"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.PrioritizedPreUpdateHandlerInfo.Parameter.Key&quot;)"
                value="parameter.Key"/>
              <TextCell
                id="ParameterValue"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.PrioritizedPreUpdateHandlerInfo.Parameter.Value&quot;)"
                value="parameter.Value"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <PanelRef
        id="ExecutorsPanel"
        visible="active">
        <TitleBar
          title="DisplayKey.get(&quot;Web.InternalTools.InfoPages.PrioritizedPreUpdateHandlerInfo.Executors&quot;)"/>
        <ListViewPanel
          id="ExecutorsLV">
          <RowIterator
            editable="false"
            elementName="executor"
            id="executorIterator"
            value="handlerInfo.ExecutorInfoList"
            valueType="java.util.List&lt;gw.plugin.preupdate.prioritized.InfoPrioritizedPreUpdateExecutor&gt;">
            <Row>
              <TextCell
                id="ExecutorName"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.PrioritizedPreUpdateHandlerInfo.Executor.Name&quot;)"
                value="executor.Name"/>
              <TextCell
                id="ExecutorEntityNames"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.PrioritizedPreUpdateHandlerInfo.Executor.EntityNames&quot;)"
                value="executor.getEntityNames().join(&quot;, &quot;)"/>
              <TextCell
                id="ExecutorPriority"
                label="DisplayKey.get(&quot;Web.InternalTools.InfoPages.PrioritizedPreUpdateHandlerInfo.Executor.Priority&quot;)"
                value="executor.Priority.DisplayName"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Screen>
  </Page>
</PCF>