<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="NewClaimCheckEFTDataInputSet"
    mode="default">
    <Require
      name="check"
      type="gw.api.claim.NewClaimCheck"/>
    <RangeInput
      editable="true"
      id="EFTRecords"
      label="DisplayKey.get(&quot;Web.FNOLWizard.CheckReady.BankData.SelectEFT&quot;)"
      value="check.EFTData"
      valueRange="check.Payee.EFTRecords"
      valueType="entity.EFTData"/>
    <TextAreaInput
      editable="true"
      id="PayTo"
      label="DisplayKey.get(&quot;Web.FNOLWizard.CheckReady.BankData.BankAcctHolderName&quot;)"
      numRows="1"
      required="true"
      value="check.PayTo">
      <Reflect
        triggerIds="EFTRecords"
        value="VALUE.AccountName"/>
    </TextAreaInput>
    <TextInput
      editable="true"
      id="BankName"
      label="DisplayKey.get(&quot;Web.FNOLWizard.CheckReady.BankData.BankName&quot;)"
      value="check.BankName">
      <Reflect
        triggerIds="EFTRecords"
        value="VALUE.BankName"/>
    </TextInput>
    <RangeRadioInput
      editable="true"
      id="BankAccountType"
      label="DisplayKey.get(&quot;Web.FNOLWizard.CheckReady.BankData.BankAccountType&quot;)"
      required="true"
      value="check.BankAccountType"
      valueRange="BankAccountType.getTypeKeys( false )"
      valueType="typekey.BankAccountType">
      <Reflect
        triggerIds="EFTRecords"
        value="VALUE.BankAccountType"/>
    </RangeRadioInput>
    <PrivacyInput
      editable="true"
      encryptionExpression="gw.api.privacy.EncryptionMaskExpressions.maskBankAccountNumber(VALUE)"
      id="BankAccountNumber"
      label="DisplayKey.get(&quot;Web.FNOLWizard.CheckReady.BankData.BankAccountNumber&quot;)"
      required="true"
      value="check.BankAccountNumber">
      <Reflect
        triggerIds="EFTRecords"
        value="VALUE.BankAccountNumber"/>
    </PrivacyInput>
    <TextInput
      editable="true"
      id="BankRoutingNumber"
      label="DisplayKey.get(&quot;Web.FNOLWizard.CheckReady.BankData.BankRoutingNumber&quot;)"
      required="true"
      value="check.BankRoutingNumber">
      <Reflect
        triggerIds="EFTRecords"
        value="VALUE.BankRoutingNumber"/>
    </TextInput>
  </InputSet>
</PCF>
