<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    canVisit="gw.surepath.cc.configuration.activitymanagement.util.ActivityManagementProperties.INSTANCE.FeatureEnabled and gw.surepath.cc.configuration.activitymanagement.util.ActivityManagementProperties.INSTANCE.SharedActivitiesEnabled and perm.System.actview and perm.System.viewdesktop"
    id="SP_CrossSuiteActivities"
    title="DisplayKey.get(&quot;SP.ActivityManagement.CrossSuiteActivities.Title&quot;)">
    <LocationEntryPoint
      signature="SP_CrossSuiteActivities()"/>
    <Screen>
      <Variable
        initialValue="gw.surepath.cc.configuration.activitymanagement.util.ActivityFinder.retrieveCrossAppBCActivitiesForCurrentUser()"
        name="bcActivities"
        type="gw.surepath.cc.configuration.activitymanagement.api.bcactivityapi.bcactivityapi.types.complex.ActivityDTO[]"/>
      <Variable
        initialValue="gw.surepath.cc.configuration.activitymanagement.util.ActivityFinder.retrieveCrossAppPCActivitiesForCurrentUser()"
        name="pcActivities"
        type="gw.surepath.cc.configuration.activitymanagement.api.pcactivityapi.pcactivityapi.types.complex.ActivityDTO[]"/>
      <CardViewPanel>
        <Card
          id="BillingCenterActivitiesCard"
          title="DisplayKey.get(&quot;SP.ActivityManagement.CrossSuiteActivities.BillingCenterActivitiesCard.Title&quot;)">
          <ListViewPanel>
            <RowIterator
              canPick="false"
              editable="false"
              elementName="activity"
              id="BCActivities"
              value="bcActivities"
              valueType="gw.surepath.cc.configuration.activitymanagement.api.bcactivityapi.bcactivityapi.types.complex.ActivityDTO[]">
              <Row>
                <TypeKeyCell
                  id="Type"
                  label="DisplayKey.get(&quot;SP.ActivityManagement.PCF.ActivityType&quot;)"
                  value="ActivityType.get(activity.ActivityType)"
                  valueType="typekey.ActivityType"/>
                <TextCell
                  id="PatternCode"
                  label="DisplayKey.get(&quot;SP.ActivityManagement.PCF.PatternCode&quot;)"
                  value="activity.PatternCode"/>
                <TextCell
                  id="Subject"
                  label="DisplayKey.get(&quot;SP.ActivityManagement.PCF.Subject&quot;)"
                  value="activity.Subject"/>
                <TextCell
                  id="Description"
                  label="DisplayKey.get(&quot;SP.ActivityManagement.PCF.Description&quot;)"
                  value="activity.Description"/>
                <TypeKeyCell
                  id="Status"
                  label="DisplayKey.get(&quot;SP.ActivityManagement.PCF.Status&quot;)"
                  value="ActivityStatus.get(activity.ActivityStatus)"
                  valueType="typekey.ActivityStatus"/>
                <TypeKeyCell
                  id="Priority"
                  label="DisplayKey.get(&quot;SP.ActivityManagement.PCF.Priority&quot;)"
                  value="typekey.Priority.get(activity.Priority)"
                  valueType="typekey.Priority"/>
                <DateCell
                  dateFormat="medium"
                  id="DueDate"
                  label="DisplayKey.get(&quot;SP.ActivityManagement.PCF.DueDate&quot;)"
                  value="activity.DueDate"/>
                <DateCell
                  dateFormat="medium"
                  id="EscalationDate"
                  label="DisplayKey.get(&quot;SP.ActivityManagement.PCF.EscalationDate&quot;)"
                  value="activity.EscalationDate"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </Card>
        <Card
          id="PolicyCenterActivitiesCard"
          title="DisplayKey.get(&quot;SP.ActivityManagement.CrossSuiteActivities.PolicyCenterActivitiesCard.Title&quot;)">
          <ListViewPanel>
            <RowIterator
              canPick="false"
              editable="false"
              elementName="activity"
              id="PCActivities"
              value="pcActivities"
              valueType="gw.surepath.cc.configuration.activitymanagement.api.pcactivityapi.pcactivityapi.types.complex.ActivityDTO[]">
              <Row>
                <TypeKeyCell
                  id="Type"
                  label="DisplayKey.get(&quot;SP.ActivityManagement.PCF.ActivityType&quot;)"
                  value="ActivityType.get(activity.ActivityType)"
                  valueType="typekey.ActivityType"/>
                <TextCell
                  id="PatternCode"
                  label="DisplayKey.get(&quot;SP.ActivityManagement.PCF.PatternCode&quot;)"
                  value="activity.PatternCode"/>
                <TextCell
                  id="Subject"
                  label="DisplayKey.get(&quot;SP.ActivityManagement.PCF.Subject&quot;)"
                  value="activity.Subject"/>
                <TextCell
                  id="Description"
                  label="DisplayKey.get(&quot;SP.ActivityManagement.PCF.Description&quot;)"
                  value="activity.Description"/>
                <TypeKeyCell
                  id="Status"
                  label="DisplayKey.get(&quot;SP.ActivityManagement.PCF.Status&quot;)"
                  value="ActivityStatus.get(activity.ActivityStatus)"
                  valueType="typekey.ActivityStatus"/>
                <TypeKeyCell
                  id="Priority"
                  label="DisplayKey.get(&quot;SP.ActivityManagement.PCF.Priority&quot;)"
                  value="typekey.Priority.get(activity.Priority)"
                  valueType="typekey.Priority"/>
                <DateCell
                  dateFormat="medium"
                  id="DueDate"
                  label="DisplayKey.get(&quot;SP.ActivityManagement.PCF.DueDate&quot;)"
                  value="activity.DueDate"/>
                <DateCell
                  dateFormat="medium"
                  id="EscalationDate"
                  label="DisplayKey.get(&quot;SP.ActivityManagement.PCF.EscalationDate&quot;)"
                  value="activity.EscalationDate"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </Card>
      </CardViewPanel>
    </Screen>
  </Page>
</PCF>