<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../../pcf.xsd">
  <LocationGroup
    canVisit="perm.Holiday.view"
    id="SP_Timeline"
    menuLinks="BlankMenuLinks()"
    title="DisplayKey.get(&quot;SP.Timeline.JSP.ClaimPageLinks.PageLink.Timeline&quot;)">
    <LocationRef
      location="SP_TimelinePage()"/>
  </LocationGroup>
</PCF>