<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="PortalAuthUserDV">
    <Require
      name="user"
      type="edge.uaaoperations.dto.ScimUserDTO"/>
    <Require
      name="creatingUser"
      type="boolean"/>
    <InputColumn>
      <TextInput
        editable="true"
        id="UserFirstName"
        label="DisplayKey.get(&quot;Edge.Web.AuthAdminConsole.PortalAuthUserDV.FirstName&quot;)"
        required="true"
        value="user.Name.GivenName"/>
      <TextInput
        editable="true"
        id="UserSurname"
        label="DisplayKey.get(&quot;Edge.Web.AuthAdminConsole.PortalAuthUserDV.LastName&quot;)"
        required="true"
        value="user.Name.FamilyName"/>
    </InputColumn>
    <InputColumn>
      <TextInput
        editable="true"
        id="UserEmail"
        label="DisplayKey.get(&quot;Edge.Web.AuthAdminConsole.PortalAuthUserDV.EmailAddress&quot;)"
        required="true"
        value="user.Emails.first().Value"/>
      <TextInput
        editable="true"
        id="UserPassword"
        label="DisplayKey.get(&quot;Edge.Web.AuthAdminConsole.PortalAuthUserDV.Password&quot;)"
        required="true"
        value="user.Password"
        visible="creatingUser"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>