<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="BulkInvoiceEFTDataInputSet"
    mode="default">
    <Require
      name="owner"
      type="entity.BulkInvoice"/>
    <Require
      name="helper"
      type="gw.api.financials.PaymentMethodHelper"/>
    <Require
      name="isPayeeChangeable"
      type="boolean"/>
    <Require
      name="eft"
      type="entity.EFTData"/>
    <RangeInput
      editable="isPayeeChangeable"
      hideIfReadOnly="true"
      id="ContactEFTData"
      label="DisplayKey.get(&quot;Web.Financials.Check.BankData.SelectEFT&quot;)"
      value="eft"
      valueRange="owner.Payee.EFTRecords"
      valueType="entity.EFTData">
      <PostOnChange
        onChange="helper.onEFTDataChange(eft)"/>
    </RangeInput>
    <TextAreaInput
      editable="isPayeeChangeable"
      id="AccountName"
      label="DisplayKey.get(&quot;Web.Financials.Check.BankData.BankAcctHolderName&quot;)"
      numRows="2"
      required="true"
      value="owner.AccountName"/>
    <TextInput
      editable="isPayeeChangeable"
      id="BankName"
      label="DisplayKey.get(&quot;Web.Financials.Check.BankData.BankName&quot;)"
      value="owner.BankName"/>
    <TypeKeyRadioInput
      editable="isPayeeChangeable"
      id="BankAccountType"
      label="DisplayKey.get(&quot;Web.Financials.Check.BankData.BankAccountType&quot;)"
      required="true"
      value="owner.BankAccountType"
      valueType="typekey.BankAccountType"/>
    <PrivacyInput
      editable="isPayeeChangeable"
      encryptionExpression="gw.api.privacy.EncryptionMaskExpressions.maskBankAccountNumber(VALUE)"
      id="BankAccountNumber"
      label="DisplayKey.get(&quot;Web.Financials.Check.BankData.BankAccountNumber&quot;)"
      required="true"
      value="owner.BankAccountNumber"/>
    <TextInput
      editable="isPayeeChangeable"
      id="BankRoutingNumber"
      label="DisplayKey.get(&quot;Web.Financials.Check.BankData.BankRoutingNumber&quot;)"
      required="true"
      value="owner.BankRoutingNumber"/>
  </InputSet>
</PCF>
