.idea/
.gradle/
gradle/cache/
modules/configuration/build/
modules/configuration/generated/
modules/configuration/generated_classes/
modules/configuration/plugins/Gosu/
modules/configuration/configuration.iml
studio/
apitestbench/gradle/cache/
apitestbench/build/
apitestbench/target/
apitestbench/customer-api/build/
apitestbench/customer-api/target/
apitestbench/customer-api/out/
apitestbench/customer-karate/build/
apitestbench/customer-karate/target/
apitestbench/customer-karate/out/
EdgeAPIMetadata.json
h2/
tmp/*
!tmp/cfg-upgrade
modules/configuration/h2/
modules/configuration/tmp/
webapps/
modules/configuration/deploy/resources/node_modules/
modules/configuration/webresources/node_modules/
###### All customer modifications to be made below this line ######
