<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="APDCodegenEnablementControlsPanelSet">
    <Require
      name="codegenInfo"
      type="gw.api.feature.ProductCodegenManager"/>
    <Variable
      initialValue="codegenInfo.getCodegenBlockedReasons()"
      name="codegenBlockedReasons"
      recalculateOnRefresh="true"
      type="List&lt;String&gt;"/>
    <Variable
      initialValue="codegenInfo.OtherLockHolderDescription"
      name="otherLockHolder"
      recalculateOnRefresh="true"
      type="Optional&lt;String&gt;"/>
    <Verbatim
      id="blockedReasons"
      label="codegenBlockedReasons.join(&quot;\n&quot;)"
      visible="!codegenBlockedReasons.isEmpty()"
      warning="true"/>
    <PanelRef>
      <Toolbar>
        <ToolbarButton
          action="codegenInfo.forceUnlock()"
          confirmMessage="DisplayKey.get(&quot;Web.APDProduct.GenerateSourceCode.ForceUnlockRepositoryConfirmation&quot;, otherLockHolder.get())"
          id="ForciblyUnlockButton"
          label="DisplayKey.get(&quot;Web.APDProduct.GenerateSourceCode.ForceUnlockRepository&quot;)"
          visible="otherLockHolder.isPresent()"/>
      </Toolbar>
      <DetailViewPanel>
        <InputColumn>
          <CheckBoxInput
            editable="true"
            id="enableGenerationCheckbox"
            label="DisplayKey.get(&quot;Web.APDProduct.GenerateSourceCode.EnableGenerateCode&quot;)"
            value="codegenInfo.Active"
            visible="codegenBlockedReasons.isEmpty()">
            <PostOnChange/>
          </CheckBoxInput>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>