<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    alwaysInEditMode="true"
    autosaveable="false"
    canEdit="true"
    canVisit="gw.api.feature.ApdForClaimsFeatureInfo.CodegenEnabled"
    countsAsWork="false"
    id="APDProductManagementPage"
    parent="Admin"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.APDProductManagementPage.Title&quot;)">
    <Variable
      name="helper"
      type="gw.apd.web.ProductManagementHelper"
      initialValue="new gw.apd.web.ProductManagementHelper()"/>
    <Screen>
      <ListDetailPanel
        selectionName="selectedProduct"
        selectionType="gw.apdcloud.client.model.ProductSummary">
        <Variable
          name="Products"
          type="java.util.List&lt;gw.apdcloud.client.model.ProductSummary&gt;"
          initialValue="helper.Products ?: {}"/>
        <DetailViewPanel>
          <InputColumn>
            <ButtonInput
              action="helper.downloadDamageablesAndIncidentsXmind()"
              align="left"
              download="attachment"
              id="DownloadDNI"
              labelAbove="true"
              value="DisplayKey.get(&quot;Web.APDProductManagementPage.Product.DownloadDniXmind.Label&quot;)"/>
          </InputColumn>
        </DetailViewPanel>
        <PanelRef
          editable="Products != null &amp;&amp; !Products.isEmpty()">
          <ListViewPanel
            id="ProductsLV">
            <RowIterator
              editable="true"
              elementName="productSummary"
              value="Products"
              valueType="java.util.List&lt;gw.apdcloud.client.model.ProductSummary&gt;">
              <Row>
                <TextCell
                  id="Name"
                  label="DisplayKey.get(&quot;Web.APDProductManagementPage.Product.Name&quot;)"
                  value="productSummary.Name"/>
                <TextCell
                  id="Description"
                  label="DisplayKey.get(&quot;Web.APDProductManagementPage.Product.Description&quot;)"
                  value="productSummary.Description"/>
                <BooleanRadioCell
                  icon="&quot;completed&quot;"
                  iconType="svgFileName"
                  id="Installed"
                  label="DisplayKey.get(&quot;Web.APDProductManagementPage.Product.Installed&quot;)"
                  showHeaderIcon="false"
                  value="helper.getIsInstalled(productSummary)"/>
                <DateCell
                  id="DateInstalled"
                  label="DisplayKey.get(&quot;Web.APDProductManagementPage.Product.DateInstalled&quot;)"
                  value="helper.getInstalledDate(productSummary)"/>
                <DateCell
                  dateFormat="short"
                  id="LastUpdated"
                  label="DisplayKey.get(&quot;Web.APDProductManagementPage.Product.LastUpdated&quot;)"
                  timeFormat="short"
                  value="new Date(productSummary.ModificationDate.toInstant().toEpochMilli())"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelRef>
        <CardViewPanel>
          <Variable
            initialValue="selectedProduct != null ? helper.loadProduct(selectedProduct.Code) : null"
            name="product"
            recalculateOnRefresh="true"
            type="gw.apdcloud.client.model.APDProductDTO"/>
          <Variable
            initialValue="product != null ? helper.buildProductTree(product) : null"
            name="productTree"
            recalculateOnRefresh="true"
            type="gw.api.tree.RowTreeRootNode"/>
          <Card
            id="selectedProduct"
            title="selectedProduct.Name"
            visible="selectedProduct != null">
            <PanelRow>
              <PanelColumn>
                <PanelRef
                  editable="Products != null &amp;&amp; !Products.isEmpty()"
                  id="ProductTreeRef">
                  <Toolbar>
                    <ToolbarInput
                      id="TreeContents"
                      value="DisplayKey.get(&quot;Web.APD.ProductTree.Contents&quot;)"
                      valueType="java.lang.String"/>
                    <ToolbarInput
                      action="helper.expandAll(productTree)"
                      id="ExpandAll"
                      value="DisplayKey.get(&quot;Button.Expand&quot;)"
                      valueType="java.lang.String"/>
                    <ToolbarInput
                      action="helper.collapseAll(productTree)"
                      id="CollapseAll"
                      value="DisplayKey.get(&quot;Button.Collapse&quot;)"
                      valueType="java.lang.String"/>
                    <ToolbarDivider/>
                    <ToolbarButton
                      action="CurrentLocation.commit(); APDConfigureGenerationPopup.push(product)"
                      available="gw.api.feature.ApdForClaimsFeatureInfo.CCCodeGenManager.Enabled or gw.api.feature.ApdForClaimsFeatureInfo.CCPICodeGenManager.Enabled"
                      id="GenerateButton"
                      label="DisplayKey.get(&quot;Web.APDProduct.Button.Generate&quot;)"
                      shortcut="G"/>
                  </Toolbar>
                  <ListViewPanel
                    id="ProductTreeLV">
                    <RowTree
                      canPick="false"
                      contentType="gw.xml.XMLNode"
                      elementName="item"
                      id="ProductRowTree"
                      value="productTree">
                      <Row
                        id="TreeRow">
                        <TextCell
                          id="NodeName"
                          label="DisplayKey.get(&quot;Web.APD.ProductTree.NodeName&quot;)"
                          value="item.getAttributeValue(&quot;Name&quot;)"
                          wrap="true"/>
                        <TextCell
                          id="NodeType"
                          label="DisplayKey.get(&quot;Web.APD.ProductTree.Type&quot;)"
                          value="item.getAttributeValue(&quot;Type&quot;)"/>
                      </Row>
                    </RowTree>
                  </ListViewPanel>
                </PanelRef>
              </PanelColumn>
              <PanelColumn>
                <PanelRef
                  def="APDCodegenSettingsPanelSet()"></PanelRef>
              </PanelColumn>
            </PanelRow>
          </Card>
        </CardViewPanel>
      </ListDetailPanel>
    </Screen>
  </Page>
</PCF>