<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="BulkRestoreClaimsRecordDetailDV">
    <Require
      name="bulkRestoreClaimRecord"
      type="entity.BulkRestoreRecord"/>
    <Require
      name="archiveStateCount"
      type="gw.api.archiving.IBulkRestoreArchivedEntitiesHelper.ArchiveStateCount"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.Admin.BulkRestoreClaimsRecordDetailDV.ClaimBulkRestoreRecord&quot;)"/>
      <TextInput
        editable="true"
        id="Title"
        label="DisplayKey.get(&quot;Web.Admin.BulkRestoreClaimsRecordDetailDV.Title&quot;)"
        required="true"
        value="bulkRestoreClaimRecord.Title"/>
      <TextAreaInput
        editable="true"
        id="Description"
        label="DisplayKey.get(&quot;Web.Admin.BulkRestoreClaimsRecordDetailDV.Description&quot;)"
        numRows="3"
        value="bulkRestoreClaimRecord.Description"/>
      <ListViewInput
        def="BulkRestoreClaimsInRestoreRecordLV(bulkRestoreClaimRecord)"
        editable="false"
        label="DisplayKey.get(&quot;Web.Admin.BulkRestoreClaimsRecordDetailDV.Claims&quot;)">
        <Toolbar></Toolbar>
      </ListViewInput>
    </InputColumn>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.Admin.BulkRestoreClaimsRecordDetailDV.RestoreRequestOverview&quot;)"/>
      <TextInput
        id="ClaimsRestored"
        label="DisplayKey.get(&quot;Web.Admin.BulkRestoreClaimsRecordDetailDV.RestoreRequestOverview.ClaimsInDB&quot;)"
        value="archiveStateCount.Restored"
        valueType="int"/>
      <TextInput
        id="ClaimsRetrieving"
        label="DisplayKey.get(&quot;Web.Admin.BulkRestoreClaimsRecordDetailDV.RestoreRequestOverview.ClaimsRetrieving&quot;)"
        value="archiveStateCount.Retrieving"
        valueType="int"/>
      <TextInput
        id="ClaimsInArchive"
        label="DisplayKey.get(&quot;Web.Admin.BulkRestoreClaimsRecordDetailDV.RestoreRequestOverview.ClaimsInArchive&quot;)"
        value="archiveStateCount.Archived"
        valueType="int"/>
      <DateInput
        editable="false"
        id="DateCreated"
        label="DisplayKey.get(&quot;Web.Admin.BulkRestoreClaimsRecordDetailDV.RestoreRequestOverview.DateCreated&quot;)"
        dateFormat="short"
        timeFormat="medium"
        value="bulkRestoreClaimRecord.CreateTime"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>