<?xml version="1.0"?>
<!-- Deprecated since 50.3.1. Claim Association is no longer created when submitting a bulk restore request -->
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="BulkRestoreClaimsAssociationDetailDV">
    <Require
      name="bulkRestoreClaimAssociation"
      type="entity.ClaimAssociation"/>
    <Require
      name="archiveStateCount"
      type="gw.api.archiving.BulkRestoreArchivedClaimsHelper.ArchiveStateCount"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.Admin.BulkRestoreClaimsAssociationDetailDV.ClaimAssociation&quot;)"/>
      <TextInput
        editable="true"
        id="Title"
        label="DisplayKey.get(&quot;Web.Admin.BulkRestoreClaimsAssociationDetailDV.Title&quot;)"
        required="true"
        value="bulkRestoreClaimAssociation.Title"/>
      <TypeKeyInput
        editable="true"
        id="Type"
        label="DisplayKey.get(&quot;Web.Admin.BulkRestoreClaimsAssociationDetailDV.Type&quot;)"
        value="bulkRestoreClaimAssociation.ClaimAssocType"
        valueType="typekey.ClaimAssocType"/>
      <TextAreaInput
        editable="true"
        id="Description"
        label="DisplayKey.get(&quot;Web.Admin.BulkRestoreClaimsAssociationDetailDV.Description&quot;)"
        numRows="3"
        value="bulkRestoreClaimAssociation.Description"/>
      <ListViewInput
        def="BulkRestoreClaimsInAssociationLV(bulkRestoreClaimAssociation)"
        editable="false"
        label="DisplayKey.get(&quot;Web.Admin.BulkRestoreClaimsAssociationDetailDV.Claims&quot;)">
        <Toolbar></Toolbar>
      </ListViewInput>
    </InputColumn>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.Admin.BulkRestoreClaimsAssociationDetailsDV.RestoreRequestOverview&quot;)"/>
      <TextInput
        id="ClaimsRestored"
        label="DisplayKey.get(&quot;Web.Admin.BulkRestoreClaimsAssociationDetailsDV.RestoreRequestOverview.ClaimsInDB&quot;)"
        value="archiveStateCount.Restored"
        valueType="int"/>
      <TextInput
        id="ClaimsRetrieving"
        label="DisplayKey.get(&quot;Web.Admin.BulkRestoreClaimsAssociationDetailsDV.RestoreRequestOverview.ClaimsRetrieving&quot;)"
        value="archiveStateCount.Retrieving"
        valueType="int"/>
      <TextInput
        id="ClaimsInArchive"
        label="DisplayKey.get(&quot;Web.Admin.BulkRestoreClaimsAssociationDetailsDV.RestoreRequestOverview.ClaimsInArchive&quot;)"
        value="archiveStateCount.Archived"
        valueType="int"/>
      <DateInput
        editable="false"
        id="DateCreated"
        label="DisplayKey.get(&quot;Web.Admin.BulkRestoreClaimsAssociationDetailsDV.RestoreRequestOverview.DateCreated&quot;)"
        dateFormat="short"
        timeFormat="medium"
        value="bulkRestoreClaimAssociation.CreateTime"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>