<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="BulkRestoreArchivedClaimsRestoreRecordLV">
    <Require
      name="titleSearchCriteria"
      type="String"/>
    <Variable 
      initialValue="new gw.api.archiving.BulkRestoreArchivedClaimsHelper()"
      name="bulkRestoreArchivedClaimsHelper"
      type="gw.api.archiving.BulkRestoreArchivedClaimsHelper"/>
    <ExposeIterator
      valueType="entity.BulkRestoreRecord"
      widget="BulkRestoreArchivedClaimsRestoreRecordLV"/>
    <RowIterator
      checkBoxVisible="true"
      hasCheckBoxes="true"
      appendPageInfo="true"
      editable="false"
      elementName="BulkRestoreClaimsRecord"
      pageSize="15"
      value="bulkRestoreArchivedClaimsHelper.searchBulkRestoreRecordsByTitle(titleSearchCriteria)"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.BulkRestoreRecord&gt;">
      <Row>
        <TextCell
          action="BulkRestoreClaimsRecordDetail.drilldown(BulkRestoreClaimsRecord)"
          id="RestoreRecord"
          label="DisplayKey.get(&quot;LV.Claim.InBulkRestoreRecordClaims.Record.Title&quot;)"
          sortOrder="2"
          value="BulkRestoreClaimsRecord.Title"
          wrap="true"/>
        <TextCell
          id="RestoreRecordDescription"
          label="DisplayKey.get(&quot;LV.Claim.InBulkRestoreRecordClaims.Record.Description&quot;)"
          sortOrder="2"
          value="BulkRestoreClaimsRecord.Description"
          wrap="true"/>
        <DateCell
          dateFormat="short"
          id="CreatedDate"
          label="DisplayKey.get(&quot;LV.Claim.InBulkRestoreRecordClaims.CreatedDate&quot;)"
          sortOrder="1"
          sortDirection="descending"
          timeFormat="medium"
          value="BulkRestoreClaimsRecord.CreateTime"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>