<?xml version="1.0"?>
<!-- Deprecated since 50.3.1. Claim Association is no longer created when submitting a bulk restore request -->
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="gw.api.claim.ClaimUtil.ArchivingEnabled"
    autosaveable="false"
    id="BulkRestoreArchivedClaims"
    parent="Admin()"
    title="DisplayKey.get(&quot;Web.Admin.Utilities.BulkRestoreArchivedClaims.Title&quot;)">
    <LocationEntryPoint
      signature="BulkRestoreArchivedClaims()"/>
    <Screen
      id="BulkRestoreArchivedClaimsScreen">
      <Variable
        initialValue="&quot;FreeTextArchivedClaimSearchResultsLV&quot;"
        name="PrintTargetLV"
        type="java.lang.String"/>
      <Variable
        initialValue="true"
        name="dismissInvalidSearchCriteriaAlert"                                                                                                
        type="boolean"/>
      <Variable
        initialValue="new gw.api.archiving.FreeTextArchivedClaimSearchScreenHelper()"
        name="helper"
        type="gw.api.archiving.FreeTextArchivedClaimSearchScreenHelper"/>
      <Toolbar>
        <ToolbarButton
          action="NewBulkRestoreArchivedClaims.go()"
          id="ClaimAssociations_NewButton"
          label="DisplayKey.get(&quot;Web.Admin.BulkRestoreArchivedClaimsLV.Button.NewBulkRestoreRequest&quot;)"
          shortcut="E"
          visible="perm.Claim.createassociation"/>
        <CheckedValuesToolbarButton
          checkedRowAction="CheckedValue.remove()"
          confirmMessage="DisplayKey.get(&quot;Web.Admin.BulkRestoreArchivedClaims.AssociationDeleteConfirm&quot;)"
          id="BulkRestoreClaimAssociations_DeleteButton"
          iterator="BulkRestoreArchivedClaimsLV.BulkRestoreArchivedClaimsLV"
          label="DisplayKey.get(&quot;Button.Delete&quot;)"
          shortcut="L"
          visible="perm.ClaimAssociation.delete"/>
        <PickerToolbarButton
          action="BulkRestoreClaimsAssociationSearchPopup.push()"
          id="ClaimAssociations_FindButton"
          label="DisplayKey.get(&quot;Button.Association.Find&quot;)"
          onPick="BulkRestoreClaimsAssociationDetail.go(PickedValue as ClaimAssociation)"
          shortcut="I"/>
      </Toolbar>
      <PanelRef
        def="BulkRestoreArchivedClaimsLV()"/>
      <SearchPanel
        criteriaName="criteriaWrapper"
        maxSearchResults="java.lang.Integer.MAX_VALUE"
        resultCachingEnabled="false"
        resultsName="claimSearchResults"
        search="helper.search()"
        searchCriteria="helper.Criteria"
        searchCriteriaType="gw.cc.claim.ArchivedClaimSearchCriteriaWrapper"
        searchOnEnter="false"
        searchResultsType="gw.api.database.IQueryBeanResult&lt;ArchivedClaimSearchEntity&gt;">
        <PanelRef
          def="FreeTextArchivedClaimSearchDV(criteriaWrapper.Criteria, true, helper)"/>
        <PanelRef
          def="FreeTextArchivedClaimSearchResultsLV(helper, claimSearchResults)"
          mode="criteriaWrapper.Criteria.FreeTextClaimSearchType.Code">
          <TitleBar
            title="DisplayKey.get(&quot;JSP.ClaimSearch.Search.Results&quot;)"/>
          <Toolbar>
            <ToolbarDivider/>
            <ToolbarButton
              action="gw.api.print.ListViewPrintOptionPopupAction.printListViewOnlyWithOptions(PrintTargetLV, DisplayKey.get(&quot;JSP.ClaimSearch.Search.Results&quot;), null)"
              available="perm.User.printlistviews"
              id="ClaimSearchScreen_PrintButton"
              label="DisplayKey.get(&quot;Java.ListView.Print&quot;)"
              shortcut="N"/>
          </Toolbar>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Page>
</PCF>