<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canEdit="true"
    canVisit="gw.api.claim.ClaimUtil.ArchivingEnabled"
    id="BulkRestoreArchivedClaimsRestoreRecord"
    parent="Admin()"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.Admin.Utilities.BulkRestoreArchivedClaimsRestoreRecord.Title&quot;)">
    <LocationEntryPoint
      signature="BulkRestoreArchivedClaimsRestoreRecord()"/>
    <Variable
      name="titleSearchCriteria"
      type="String"/>
    <Screen
      id="BulkRestoreArchivedClaimsScreen">
      <Toolbar>
        <ToolbarButton
          action="NewBulkRestoreArchivedClaims.go()"
          id="BulkRestoreClaimRecord_NewButton"
          label="DisplayKey.get(&quot;Web.Admin.BulkRestoreArchivedClaimsRestoreRecord.NewBulkRestoreRequest&quot;)"
          shortcut="E"/>
        <CheckedValuesToolbarButton
          checkedRowAction="CheckedValue.remove(); CurrentLocation.commit(); CurrentLocation.startEditing()"
          confirmMessage="DisplayKey.get(&quot;Web.Admin.BulkRestoreArchivedClaimsRestoreRecord.BulkRestoreRecordDeleteConfirm&quot;)"
          id="BulkRestoreClaimRecord_DeleteButton"
          iterator="BulkRestoreArchivedClaimsRestoreRecordLV.BulkRestoreArchivedClaimsRestoreRecordLV"
          label="DisplayKey.get(&quot;Button.Delete&quot;)"
          shortcut="L"/>
      </Toolbar>
      <Verbatim
        id="bulkRestoreRecordsVerbatimId"
        label="DisplayKey.get(&quot;Web.Admin.BulkRestoreArchivedClaimsRestoreRecord.HeadingText&quot;)"/>
      <DetailViewPanel>
        <InputColumn>
          <TextInput
            editable="true"
            inputMask="DisplayKey.get(&quot;Web.Admin.BulkRestoreArchivedClaimsRestoreRecord.HelpText&quot;)"
            id="titleSearchId"
            labelAbove="true"
            value="titleSearchCriteria">
            <MenuItem
              action="null"
              id="filterButtonId"
              label="DisplayKey.get(&quot;Web.Admin.BulkRestoreArchivedClaimsRestoreRecord.Button.Search&quot;)"/>
          </TextInput>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        def="BulkRestoreArchivedClaimsRestoreRecordLV(titleSearchCriteria)"></PanelRef>
    </Screen>
  </Page>
</PCF>