<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="FreeTextArchivedClaimSearchInputSet">
    <Require
      name="ArchivedClaimSearchCriteria"
      type="ArchivedClaimSearchCriteria"/>
    <Variable
      name="searchType"
      type="String"/>
    <Label
      label="DisplayKey.get(&quot;NVV.Search.FreeTextSearchParameters&quot;)"/>
    <InputDivider/>
    <TypeKeyInput
      editable="true"
      id="Role"
      label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.Role&quot;)"
      required="false"
      value="ArchivedClaimSearchCriteria.FreeTextNameSearchType"
      valueType="typekey.FreTxtClmSrchNameSrchTyp"/>
    <TextInput
      editable="true"
      id="FullName"
      label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.FullName&quot;)"
      value="ArchivedClaimSearchCriteria.NameCriteria.Name"/>
    <TextInput
      editable="true"
      id="City"
      label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.City&quot;)"
      required="false"
      value="ArchivedClaimSearchCriteria.AddressCriteria.City"/>
    <TypeKeyInput
      editable="true"
      id="State"
      label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.PlainState&quot;)"
      required="false"
      value="ArchivedClaimSearchCriteria.AddressCriteria.State"
      valueType="typekey.State"/>
    <TypeKeyInput
      editable="true"
      id="Country"
      label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.Country&quot;)"
      required="false"
      value="ArchivedClaimSearchCriteria.AddressCriteria.Country"
      valueType="typekey.Country"/>
    <TextInput
      editable="true"
      id="PostalCode"
      label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.PostalCode&quot;)"
      required="false"
      value="ArchivedClaimSearchCriteria.AddressCriteria.PostalCode"/>
    <InputDivider/>
    <TextInput
      editable="true"
      id="TaxID"
      label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.TaxID&quot;)"
      required="false"
      value="ArchivedClaimSearchCriteria.NameCriteria.TaxId"/>
    <InputDivider/>
    <TextAreaInput
      boldLabel="true"
      editable="true"
      id="Notes"
      label="DisplayKey.get(&quot;Web.ContactDetail.Notes&quot;)"
      numRows="3"
      value="ArchivedClaimSearchCriteria.Notes"/>
  </InputSet>
</PCF>