<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="FreeTextArchivedClaimSearchAdditionalInputSet">
    <Require
      name="ArchivedClaimSearchCriteria"
      type="ArchivedClaimSearchCriteria"/>
    <RangeInput
      editable="true"
      id="CatNumber"
      label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.CatNumber&quot;)"
      required="false"
      value="ArchivedClaimSearchCriteria.Catastrophe"
      valueRange="gw.api.admin.CatastropheUtil.getCatastrophes()"
      valueType="entity.Catastrophe"/>
    <TypeKeyInput
      editable="true"
      id="LOB"
      label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.LOB&quot;)"
      required="false"
      value="ArchivedClaimSearchCriteria.LOBCode"
      valueType="typekey.LOBCode"/>
    <TypeKeyInput
      editable="true"
      id="LossType"
      label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.LossType&quot;)"
      required="false"
      value="ArchivedClaimSearchCriteria.LossType"
      valueType="typekey.LossType"/>    
    <BooleanDropdownInput
      editable="true"
      id="IncidentReport"
      label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.IncidentReport&quot;)"
      required="false"
      value="ArchivedClaimSearchCriteria.IncidentReport"/>
    <BooleanDropdownInput
      editable="true"
      id="ReinsuranceReportable"
      label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.ReinsuranceReportable&quot;)"
      required="false"
      value="ArchivedClaimSearchCriteria.ReinsuranceReportable"/>
    <InputDivider/>
    <BooleanDropdownInput
      editable="true"
      id="CoverageInQuestion"
      label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.CoverageInQuestion&quot;)"
      required="false"
      value="ArchivedClaimSearchCriteria.CoverageInQuestion"/>    
    <TypeKeyInput
      editable="true"
      id="LitigationStatus"
      label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.LitigationStatus&quot;)"
      required="false"
      value="ArchivedClaimSearchCriteria.LitigationStatus"
      valueType="typekey.LitigationStatus"/>
    <InputDivider/>
    <DateCriterionChoiceInput
      chosenOptionVisible="true"
      editable="true"
      id="DateSearch"
      label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.Date&quot;)"
      required="false"
      value="ArchivedClaimSearchCriteria.DateCriterionChoice"/>
  </InputSet>
</PCF>