<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="FreeTextArchivedClaimSearchResultsLV">
    <Require
      name="helper"
      type="gw.api.archiving.FreeTextArchivedClaimSearchScreenHelper"/>
    <ExposeIterator
      flags="RetrievableClaim"
      valueType="ArchivedClaimSearchEntity"
      widget="FreeTextArchivedClaimSearchResultsIterator"/>
    <Require
      name="claims"
      type="gw.api.database.IQueryBeanResult&lt;ArchivedClaimSearchEntity&gt;"/>
    <RowIterator
      appendPageInfo="true"
      editable="false"
      elementName="claim"
      id="FreeTextArchivedClaimSearchResultsIterator"
      value="claims"
      valueType="gw.api.database.IQueryBeanResult&lt;ArchivedClaimSearchEntity&gt;">
      <ToolbarFlag
        condition="false"
        name="RetrievableClaim"/>
      <Row>
        <ButtonCell
          action="helper.toggleClaimSelectionHandler(claim)"
          id="selectButton"
          printWidth="0"
          value="helper.getClaimSelectButtonLabel(claim)"/>
        <TextCell
          action="FreeTextClaimForward.go(claim.ClaimNumber, ClaimSearchType.TC_ARCHIVED)"
          id="ClaimNumber"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.ID&quot;)"
          printWidth="0.12"
          value="claim.ClaimNumber"
          wrap="false"/>
        <TextCell
          id="PolicyNumber"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.PolicyNumber&quot;)"
          printWidth="0.12"
          value="claim.PolicyNumber"/>
        <DateCell
          id="Date"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.Date&quot;)"
          printWidth="0.12"
          value="claim.Date"/>
        <TextCell
          id="Contacts"
          printWidth="0.12"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.Contacts&quot;)"
          value="claim.Contacts"/>
        <TextCell
          id="LineOfBusiness"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.LOBCode&quot;)"
          printWidth="0.12"
          value="claim.LineOfBusiness"/>
        <TextCell
          id="LossType"
          label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.LossType&quot;)"
          printWidth="0.12"
          value="claim.LossType"/>
        <TextCell
          id="Catastrophe"
          label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.CatNumber&quot;)"
          printWidth="0.14  "
          value="claim.Catastrophe"/>
        <TextCell
          id="CoverageInQuestion"
          label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.CoverageInQuestion&quot;)"
          printWidth="0.14"
          value="claim.CoverageInQuestion"/>
        <TextCell
          id="LitigationStatus"
          label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.LitigationStatus&quot;)"
          printWidth="0.12"
          value="claim.LitigationStatus"/>
        <TextCell
          id="ReinsuranceReportable"
          label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.ReinsuranceReportable&quot;)"
          printWidth="0.12"
          value="claim.ReinsuranceReportable"/>
        <TextCell
          id="IncidentReport"
          label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.IncidentReport&quot;)"
          printWidth="0.12"
          value="claim.IncidentReport"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>