<?xml version="1.0"?>
<!-- Deprecated since 50.3.1. Claim Association is no longer created when submitting a bulk restore request -->
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="gw.api.claim.ClaimUtil.ArchivingEnabled and gw.api.system.PLConfigParameters.FreeTextSearchEnabled.Value"
    autosaveable="false"
    id="SolrReIndexing"
    parent="UnsupportedTools()"
    title="DisplayKey.get(&quot;Web.Admin.Utilities.SolrReIndexing.Title&quot;)">
    <LocationEntryPoint
      signature="SolrReIndexing()"/>
    <Variable
      name="reindexingCount"
      recalculateOnRefresh="true"
      type="int"
      initialValue="gw.solr.utils.CCSolrUtils.getReIndexingArchivedClaimCount()"/>
    <Screen
      id="SolrReIndexingScreen">
      <DetailViewPanel
        id="SolrReIndexingDetailsDV">
        <InputColumn>
          <ButtonInput
            action="gw.solr.utils.CCSolrUtils.reindexArchivedClaim()"
            align="left"
            available="reindexingCount==0"
            hideIfDisabled="false"
            id="SolrReIndexingButton"
            value="DisplayKey.get(&quot;Web.Admin.Utilities.SolrReIndexing.Reindex&quot;)"/>
          <TextInput
            id="SolrReIndexingCount"
            label="DisplayKey.get(&quot;Web.Admin.Utilities.SolrReIndexing.Reindexing.Count&quot;)"
            value="reindexingCount"
            valueType="int"/>
          <ButtonInput
              action="null"
              align="left"
              hideIfEditable="true"
              id="SolrReIndexingCountRefreshButton"
              value="DisplayKey.get(&quot;Web.Admin.Utilities.SolrReIndexing.Refresh&quot;)"/>
        </InputColumn>
        <InputColumn>
          <ButtonInput
            action="gw.solr.utils.CCSolrUtils.dropArchivedClaimIndex()"
            align="left"
            available="reindexingCount==0"
            hideIfDisabled="false"
            id="DropSolrIndexButton"
            value="DisplayKey.get(&quot;Web.Admin.Utilities.SolrReIndexing.DropIndex&quot;)"/>
        </InputColumn>
      </DetailViewPanel>
      <DetailViewPanel
        id="SolrReIndexingUnavailableDV"
        visible="reindexingCount&gt;0">
        <InputColumn>
          <Label
            label="DisplayKey.get(&quot;Web.Admin.Utilities.SolrReIndexing.Reindexing.Message&quot;)"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>